/*!

 =========================================================
 * Coming Sssoon Page - v1.3.2
 =========================================================
 
 * Product Page: https://www.creative-tim.com/product/coming-sssoon-page
 * Copyright 2017 Creative Tim (http://www.creative-tim.com)
 * Licensed under MIT (https://github.com/creativetimofficial/coming-sssoon-page/blob/master/LICENSE.md)
 
 =========================================================
 
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 */
.form-control::-moz-placeholder {
    color: #ddd;
    opacity: 1
}

.form-control:-moz-placeholder {
    color: #ddd;
    opacity: 1
}

.form-control::-webkit-input-placeholder {
    color: #ddd;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #ddd;
    opacity: 1
}

a {
    color: #2c93ff
}

a:focus,
a:hover {
    color: #1084ff
}

a:active,
a:focus,
button::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=file]>input[type=button]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
select::-moz-focus-inner {
    outline: 0
}

.brand,
.btn-simple,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.navbar,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

.h1,
.h2,
.h3,
.h4,
h1,
h2,
h3,
h4 {
    font-weight: 400;
    margin: 30px 0 15px
}

.h1,
h1 {
    font-size: 52px
}

.h2,
h2 {
    font-size: 36px
}

.h3,
h3 {
    font-size: 28px;
    margin: 20px 0 10px
}

.h4,
h4 {
    font-size: 22px
}

.h5,
h5 {
    font-size: 16px
}

.h6,
h6 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase
}

p {
    font-size: 16px;
    line-height: 1.618em
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
    color: #999;
    font-weight: 300;
    line-height: 1
}

h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small {
    font-size: 60%
}

.form-control,
.input-group-addon {
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
    transition: all .3s linear
}

.btn {
    border-width: 2px;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 400;
    opacity: .8;
    padding: 8px 16px
}

.btn-round {
    border-width: 1px;
    border-radius: 30px !important;
    opacity: .79;
    padding: 9px 18px
}

.btn-sm,
.btn-xs {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px
}

.btn-xs {
    padding: 1px 5px
}

.btn-lg {
    border-radius: 6px;
    font-size: 18px;
    font-weight: 400;
    padding: 14px 60px
}

.btn-wd {
    min-width: 140px
}

.btn-default {
    color: #777;
    border-color: #999
}

.btn-primary {
    color: #3472f7;
    border-color: #3472f7
}

.btn-info {
    color: #2c93ff;
    border-color: #2c93ff
}

.btn-success {
    color: #05ae0e;
    border-color: #05ae0e
}

.btn-warning {
    color: #ff9500;
    border-color: #ff9500
}

.btn-danger {
    color: #ff3b30;
    border-color: #ff3b30
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0);
    opacity: 1
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open .dropdown-toggle.btn-primary {
    color: #1d62f0;
    border-color: #1d62f0;
    background-color: rgba(0, 0, 0, 0)
}

.btn-info.active,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open .dropdown-toggle.btn-info {
    color: #1084ff;
    border-color: #1084ff;
    background-color: rgba(0, 0, 0, 0)
}

.btn-success.active,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open .dropdown-toggle.btn-success {
    color: #049f0c;
    border-color: #049f0c;
    background-color: rgba(0, 0, 0, 0)
}

.btn-warning.active,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open .dropdown-toggle.btn-warning {
    color: #ed8d00;
    border-color: #ed8d00;
    background-color: rgba(0, 0, 0, 0)
}

.btn-danger.active,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.open .dropdown-toggle.btn-danger {
    color: #ee2d20;
    border-color: #ee2d20;
    background-color: rgba(0, 0, 0, 0)
}

.btn-default.active,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open .dropdown-toggle.btn-default {
    color: #666;
    border-color: #888;
    background-color: rgba(0, 0, 0, 0)
}

.btn.active,
.btn:active {
    background-image: none;
    box-shadow: none
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    opacity: .45
}

.btn-primary.active[disabled],
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    background-color: rgba(0, 0, 0, 0);
    border-color: #3472f7
}

.btn-info.active[disabled],
.btn-info.disabled,
.btn-info.disabled.active,
.btn-info.disabled:active,
.btn-info.disabled:focus,
.btn-info.disabled:hover,
.btn-info[disabled],
.btn-info[disabled]:active,
.btn-info[disabled]:focus,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info.active,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:hover {
    background-color: rgba(0, 0, 0, 0);
    border-color: #2c93ff
}

.btn-success.active[disabled],
.btn-success.disabled,
.btn-success.disabled.active,
.btn-success.disabled:active,
.btn-success.disabled:focus,
.btn-success.disabled:hover,
.btn-success[disabled],
.btn-success[disabled]:active,
.btn-success[disabled]:focus,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success.active,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:hover {
    background-color: rgba(0, 0, 0, 0);
    border-color: #05ae0e
}

.btn-danger.active[disabled],
.btn-danger.disabled,
.btn-danger.disabled.active,
.btn-danger.disabled:active,
.btn-danger.disabled:focus,
.btn-danger.disabled:hover,
.btn-danger[disabled],
.btn-danger[disabled]:active,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger.active,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:hover {
    background-color: rgba(0, 0, 0, 0);
    border-color: #ff3b30
}

.btn-warning.active[disabled],
.btn-warning.disabled,
.btn-warning.disabled.active,
.btn-warning.disabled:active,
.btn-warning.disabled:focus,
.btn-warning.disabled:hover,
.btn-warning[disabled],
.btn-warning[disabled]:active,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning.active,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:hover {
    background-color: rgba(0, 0, 0, 0);
    border-color: #ff9500
}

.btn-fill {
    color: #fff;
    opacity: 1
}

.btn-fill:active,
.btn-fill:focus,
.btn-fill:hover {
    color: #fff
}

.btn-default.btn-fill {
    background-color: #999;
    border-color: #999
}

.btn-primary.btn-fill {
    background-color: #3472f7;
    border-color: #3472f7
}

.btn-info.btn-fill {
    background-color: #2c93ff;
    border-color: #2c93ff
}

.btn-success.btn-fill {
    background-color: #05ae0e;
    border-color: #05ae0e
}

.btn-warning.btn-fill {
    background-color: #ff9500;
    border-color: #ff9500
}

.btn-danger.btn-fill {
    background-color: #ff3b30;
    border-color: #ff3b30
}

.btn-default.btn-fill.active,
.btn-default.btn-fill:active,
.btn-default.btn-fill:focus,
.btn-default.btn-fill:hover,
.open .dropdown-toggle.btn-fill.btn-default {
    background-color: #888;
    border-color: #888
}

.btn-primary.btn-fill.active,
.btn-primary.btn-fill:active,
.btn-primary.btn-fill:focus,
.btn-primary.btn-fill:hover,
.open .dropdown-toggle.btn-primary.btn-fill {
    border-color: #1d62f0;
    background-color: #1d62f0
}

.btn-info.btn-fill.active,
.btn-info.btn-fill:active,
.btn-info.btn-fill:focus,
.btn-info.btn-fill:hover,
.open .dropdown-toggle.btn-info.btn-fill {
    background-color: #1084ff;
    border-color: #1084ff
}

.btn-success.btn-fill.active,
.btn-success.btn-fill:active,
.btn-success.btn-fill:focus,
.btn-success.btn-fill:hover,
.open .dropdown-toggle.btn-fill.btn-success {
    background-color: #049f0c;
    border-color: #049f0c
}

.btn-warning.btn-fill.active,
.btn-warning.btn-fill:active,
.btn-warning.btn-fill:focus,
.btn-warning.btn-fill:hover,
.open .dropdown-toggle.btn-fill.btn-warning {
    background-color: #ed8d00;
    border-color: #ed8d00
}

.btn-danger.btn-fill.active,
.btn-danger.btn-fill:active,
.btn-danger.btn-fill:focus,
.btn-danger.btn-fill:hover,
.open .dropdown-toggle.btn-danger.btn-fill {
    background-color: #ee2d20;
    border-color: #ee2d20
}

.btn-simple {
    font-weight: 600;
    border: 0;
    padding: 10px 18px
}

.btn-simple.btn-xs {
    padding: 3px 5px
}

.btn-simple.btn-sm {
    padding: 7px 10px
}

.btn-simple.btn-lg {
    padding: 16px 60px
}

.btn-round.btn-xs {
    padding: 2px 5px
}

.btn-round.btn-sm {
    padding: 6px 10px
}

.btn-round.btn-lg {
    padding: 15px 60px
}

.form-control {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: none;
    color: #444;
    height: 38px;
    padding: 6px 16px
}

.form-control:focus {
    background-color: #fff;
    border: 1px solid #9a9a9a;
    box-shadow: none;
    outline: 0 none
}

.form-control+.form-control-feedback {
    border-radius: 6px;
    font-size: 14px;
    padding: 0 12px 0 0;
    position: absolute;
    right: 25px;
    top: 13px;
    vertical-align: middle
}

.form-control.transparent {
    background-color: rgba(255, 255, 255, .07);
    border: 1px solid rgba(238, 238, 238, .27);
    color: #fff
}

.form-control.transparent:focus {
    border-color: #fff
}

.input-lg {
    height: 56px;
    padding: 10px 16px
}

.navbar {
    border: 0 none;
    transition: all .4s;
    -webkit-transition: all .4s;
    font-size: 16px
}

.navbar-default {
    background-color: #d9d9d9
}

.navbar .navbar-brand {
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px
}

.navbar-nav>li>a {
    margin-top: 13px;
    margin-bottom: 13px;
    padding-bottom: 12px;
    padding-top: 12px;
    font-size: 16px
}

.navbar-nav>li>a [class^=fa] {
    font-size: 40px
}

.navbar-brand {
    padding: 20px 15px
}

.navbar .btn {
    margin-top: 8px;
    margin-bottom: 8px
}

.navbar-default:not(.navbar-transparent) {
    background-color: rgba(255, 255, 255, .96);
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.navbar-transparent {
    padding-top: 15px;
    background-color: rgba(0, 0, 0, 0)
}

.navbar-transparent .navbar-brand,
[class*=navbar-ct] .navbar-brand {
    color: #fff;
    opacity: .95
}

.navbar-transparent .navbar-brand:focus,
.navbar-transparent .navbar-brand:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #5e5e5e
}

.navbar-transparent .nav .caret {
    border-bottom-color: #fff;
    border-top-color: #fff
}

.navbar-transparent .navbar-nav>li>a,
[class*=navbar-ct] .navbar-nav>li>a {
    color: #fff;
    border-color: #fff;
    opacity: .7
}

.navbar-transparent .navbar-brand:focus,
.navbar-transparent .navbar-brand:hover,
[class*=navbar-ct] .navbar-brand:focus,
[class*=navbar-ct] .navbar-brand:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    opacity: 1
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 3px;
    color: #2c93ff;
    opacity: 1
}

.navbar-default .navbar-nav>.dropdown>a:focus .caret,
.navbar-default .navbar-nav>.dropdown>a:hover .caret {
    border-bottom-color: #2c93ff;
    border-top-color: #2c93ff
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: rgba(255, 255, 255, 0);
    color: #2c93ff
}

.navbar-transparent .navbar-nav>.active>a,
.navbar-transparent .navbar-nav>.active>a:focus,
.navbar-transparent .navbar-nav>.active>a:hover,
.navbar-transparent .navbar-nav>li>a:focus,
.navbar-transparent .navbar-nav>li>a:hover,
[class*=navbar-ct] .navbar-nav>.active>a,
[class*=navbar-ct] .navbar-nav>.active>a:focus,
[class*=navbar-ct] .navbar-nav>.active>a:hover,
[class*=navbar-ct] .navbar-nav>li>a:focus,
[class*=navbar-ct] .navbar-nav>li>a:hover {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 3px;
    color: #fff;
    opacity: 1
}

.navbar-transparent .navbar-nav>.dropdown>a .caret,
[class*=navbar-ct] .navbar-nav>.dropdown>a .caret {
    border-bottom-color: #fff;
    border-top-color: #fff
}

.navbar-transparent .navbar-nav>.dropdown>a:focus .caret,
.navbar-transparent .navbar-nav>.dropdown>a:hover .caret {
    border-bottom-color: #fff;
    border-top-color: #fff
}

.navbar-transparent .navbar-nav>.open>a,
.navbar-transparent .navbar-nav>.open>a:focus,
.navbar-transparent .navbar-nav>.open>a:hover {
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    opacity: 1
}

.navbar .btn {
    font-size: 16px;
    margin-top: 13px;
    margin-bottom: 13px
}

.navbar .btn-default {
    color: #777;
    border-color: #777
}

.navbar-default:not(.navbar-transparent) .btn-default:hover {
    color: #2c93ff;
    border-color: #2c93ff
}

.navbar-transparent .btn-default,
[class*=navbar-ct] .btn-default {
    color: #fff;
    border-color: #fff
}

[class*=navbar-ct] .btn-default.btn-fill {
    color: #777;
    background-color: #fff;
    opacity: .9
}

[class*=navbar-ct] .btn-default.btn-fill.active,
[class*=navbar-ct] .btn-default.btn-fill:active,
[class*=navbar-ct] .btn-default.btn-fill:focus,
[class*=navbar-ct] .btn-default.btn-fill:hover,
[class*=navbar-ct] .open .dropdown-toggle.btn-fill.btn-default {
    border-color: #fff;
    opacity: 1
}

.navbar-form {
    box-shadow: none
}

.navbar-form .form-control {
    background-color: rgba(244, 244, 244, 0);
    border-radius: 0;
    border: 0;
    height: 22px;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    color: #777
}

.navbar-transparent .navbar-form .form-control,
[class*=navbar-ct] .navbar-form .form-control {
    color: #fff;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .6)
}

.navbar .label {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #bbb;
    text-transform: uppercase
}

.dropdown-menu>li>a {
    padding: 6px 15px;
    color: #777
}

.dropdown-menu>li:first-child>a {
    border-radius: 10px 10px 0 0;
    padding-top: 12px
}

.dropdown-menu>li:last-child>a {
    border-bottom: 0 none;
    border-radius: 0 0 10px 10px;
    padding-bottom: 12px
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background-color: #fff;
    color: #333;
    opacity: 1;
    text-decoration: none
}

.dropdown-menu>li>a img {
    margin-right: 5px
}

.dropdown-menu .divider {
    background-color: #e5e5e5;
    height: 1px;
    margin: 8px 15px;
    overflow: hidden
}

.navbar-toggle {
    margin-top: 19px;
    margin-bottom: 19px;
    border: 0
}

.navbar-toggle .icon-bar {
    background-color: #fff
}

.navbar-collapse,
.navbar-form {
    border-color: transparent
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: rgba(0, 0, 0, 0)
}

@media (min-width:768px) {
    .navbar-form {
        margin-top: 21px;
        margin-bottom: 21px;
        padding-left: 5px;
        padding-right: 5px
    }

    .dropdown-menu,
    .navbar-nav>li>.dropdown-menu {
        display: block;
        margin: 0;
        padding: 0;
        z-index: 9000;
        position: absolute;
        -webkit-border-radius: 10px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, .125);
        border-radius: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        opacity: 0;
        -ms-filter: "alpha(opacity=0)";
        -webkit-filter: alpha(opacity=0);
        -moz-filter: alpha(opacity=0);
        -o-filter: alpha(opacity=0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all .3s cubic-bezier(.34, 1.61, .7, 1);
        -moz-transition: all .3s cubic-bezier(.34, 1.61, .7, 1);
        -o-transition: all .3s cubic-bezier(.34, 1.61, .7, 1);
        -ms-transition: all .3s cubic-bezier(.34, 1.61, .7, 1);
        transition: all .3s cubic-bezier(.34, 1.61, .7, 1)
    }

    .navbar-nav>li.open>.dropdown-menu,
    .open .dropdown-menu {
        -webkit-transform-origin: 29px -50px;
        -moz-transform-origin: 29px -50px;
        -o-transform-origin: 29px -50px;
        -ms-transform-origin: 29px -50px;
        transform-origin: 29px -50px;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        -ms-filter: none;
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none
    }

    .dropdown-menu:before {
        border-bottom: 11px solid rgba(0, 0, 0, .2);
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        content: "";
        display: inline-block;
        position: absolute;
        left: 100%;
        margin-left: -60%;
        top: -11px
    }

    .dropdown-menu:after {
        border-bottom: 11px solid #fff;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        content: "";
        display: inline-block;
        position: absolute;
        left: 100%;
        margin-left: -60%;
        top: -10px
    }
}

@media (max-width:768px) {
    .navbar-transparent {
        padding-top: 0;
        background-color: rgba(0, 0, 0, .75)
    }

    .navbar-transparent .dropdown-menu>li>a:focus,
    .navbar-transparent .dropdown-menu>li>a:hover,
    .navbar-transparent .navbar-collapse.in .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-transparent .navbar-collapse.in .navbar-nav .open .dropdown-menu>li>a:hover,
    [class*=navbar-ct] .dropdown-menu>li>a:focus,
    [class*=navbar-ct] .dropdown-menu>li>a:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0);
        opacity: 1
    }

    .navbar-transparent .navbar-collapse.in .navbar-nav .open .dropdown-menu>li>a,
    [class*=navbar-ct] .dropdown-menu>li>a {
        color: #fff;
        opacity: .8
    }

    .nav .open>a,
    .nav .open>a:focus,
    .nav .open>a:hover {
        background-color: rgba(0, 0, 0, 0);
        border-color: #428bca
    }

    .navbar-collapse {
        text-align: center
    }

    .navbar-collapse .navbar-form {
        width: 170px;
        margin: 0 auto
    }

    .navbar-transparent .dropdown-menu .divider {
        background-color: #434343
    }
}

.modal-backdrop.in {
    opacity: .25
}

.main {
    background-position: center center;
    background-size: cover;
    height: auto;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    width: auto
}

.cover {
    position: fixed;
    opacity: 1;
    background-color: rgba(0, 0, 0, .6);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.cover.black {
    background-color: rgba(0, 0, 0)
}

.cover.blue {
    background-color: rgba(0, 0, 0)
}

.cover.green {
    background-color: rgba(0, 0, 0)
}

.cover.orange {
    background-color: rgba(0, 0, 0)
}

.cover.red {
    background-color: rgba(0, 0, 0)
}

.blur {
    opacity: 0
}

.logo-container {
    left: 50px;
    position: absolute;
    top: 20px;
    z-index: 3
}

.logo-container .logo {
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333;
    width: 60px;
    float: left
}

.logo-container .brand {
    font-size: 18px;
    color: #fff;
    line-height: 20px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px
}

.main .logo {
    color: #fff;
    font-size: 56px;
    font-weight: 300;
    position: relative;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, .33);
    margin-top: 150px;
    z-index: 3
}

.main .logo.cursive {
    font-family: 'Grand Hotel', cursive;
    font-size: 82px
}

.main .content {
    position: relative;
    z-index: 4
}

.main .motto {
    min-height: 140px
}

.main .motto,
.main .subscribe .info-text {
    font-size: 28px;
    color: #fff;
    text-shadow: 0 1px 4px rgba(0, 0, 0, .33);
    text-align: center;
    margin-top: 50px
}

.main .subscribe .info-text {
    font-size: 18px;
    margin-bottom: 30px
}

#video_background {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    overflow: hidden;
    background-image: url(../images/video_bg.png);
    background-position: center center;
    background-size: cover
}

#video_pattern {
    position: fixed;
    opacity: .6;
    background-color: rgba(0, 0, 0, .45);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.footer {
    position: relative;
    bottom: 20px;
    right: 0;
    width: 100%;
    color: #aaa;
    z-index: 4;
    text-align: right;
    margin-top: 50px
}

.footer a {
    color: #fff
}

.footer .heart {
    color: #ff3b30
}

@media (min-width:219px) {
    .main .subscribe .form-group {
        width: auto
    }

    .main .subscribe .form-inline .btn {
        width: 100%
    }
}

@media (min-width:768px) {
    .main .subscribe .form-inline .btn {
        width: auto
    }
}

@media (min-width:991px) {
    .main .subscribe .form-group {
        width: 190px
    }

    .footer {
        position: fixed;
        bottom: 20px
    }
}

@media (min-width:1200px) {
    .main .subscribe .form-group {
        width: 250px
    }
}

.fixed-plugin {
    position: fixed;
    top: 0;
    right: 50px;
    z-index: 1031
}

.fixed-plugin .fa-cog {
    color: #fff;
    background-color: rgba(0, 0, 0, .2);
    padding: 10px;
    border-radius: 0 0 6px 6px
}

.fixed-plugin .dropdown-menu {
    right: 0;
    left: auto
}

.fixed-plugin .dropdown-menu:after,
.fixed-plugin .dropdown-menu:before {
    right: 10px;
    margin-left: auto;
    left: auto
}

.fixed-plugin .fa-circle-thin {
    color: #fff
}

.fixed-plugin .active .fa-circle-thin {
    color: #0bf
}

.fixed-plugin .dropdown-menu>li>a {
    padding-left: 10px;
    padding-right: 10px
}

.fixed-plugin .dropdown-menu>.active>a,
.fixed-plugin .dropdown-menu>.active>a:focus,
.fixed-plugin .dropdown-menu>.active>a:hover {
    background: 0 0;
    color: #777
}

.fixed-plugin img {
    border-radius: 6px;
    width: 150px;
    max-height: 65px;
    border: 4px solid #fff
}

.fixed-plugin .active img,
.fixed-plugin a:hover img {
    border-color: #0bf
}

.fixed-plugin .btn {
    margin: 10px 15px 0;
    color: #fff
}

.fixed-plugin .btn:hover {
    color: #fff
}

.fixed-plugin .badge {
    border: 3px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    margin-right: 5px;
    position: relative;
    top: 5px;
    width: 23px
}

.fixed-plugin .badge.active,
.fixed-plugin .badge:hover {
    border-color: #0bf
}

.fixed-plugin .badge-black {
    background-color: #333
}

.fixed-plugin .badge-blue {
    background-color: #2c93ff
}

.fixed-plugin .badge-green {
    background-color: #05ae0e
}

.fixed-plugin .badge-orange {
    background-color: #ff9500
}

.fixed-plugin .badge-red {
    background-color: #ff3b30
}

@media (max-width:768px) {
    .fixed-plugin {
        top: 80px;
        right: 0
    }

    .main .container {
        margin-bottom: 50px
    }

    #video_background {
        display: none
    }
}

.degradado {
    background: rgba(0, 0, 0, 1);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .5) 100%, rgba(0, 0, 0, .5) 100%, rgba(0, 0, 0, .5) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0, rgba(0, 0, 0, .5) 100%), color-stop(5%, rgba(0, 0, 0, .5) 100%), color-stop(100%, rgba(0, 0, 0, .5) 100%));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .5) 100%, rgba(0, 0, 0, .5) 100%, rgba(0, 0, 0, .5) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, .5) 100%, rgba(0, 0, 0, .5) 100%, rgba(0, 0, 0, .5) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, .5) 100%, rgba(0, 0, 0, .5) 100%, rgba(0, 0, 0, .5) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 100%, rgba(0, 0, 0, .5) 100%, rgba(0, 0, 0, .5) 100%)
}

@media screen and (min-width:320px) and (max-width:768px) {
    .texto {
        font-size: 13px !important
    }

    .icono {
        font-size: 20px !important
    }

    .navbar-transparent {
        padding-top: 0;
        background-color: rgb(0 0 0 / 0%)
    }
}